<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shegi.idpendaki">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logofixx"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logofixx"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CuacaActivity"></activity>
        <activity android:name=".KompasActivity" />
        <activity
            android:name=".MdplActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PermissionActivity" />
        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Regisactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Loginactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dashboard"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/idads" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAN4_Md45ezPozqrjY-9_zNdWiKirFUtvw" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>